/Calico-eBGP-peering-with-external-host.yml
/Calico-eBGP-peering-with-multiple-external-host.yml
/desktop.ini
/hello-world-nodeport.yaml
/KAIMTECH_key.pem
/Kube-router configuration yaml.TXT
/Kubernetes configuration.TXT
/Kubernetes Networking.pdf
/Kubernetes Notes.txt